:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-light: #ffffff;
  --main-dark: #2f303a;
  --main-blue: #2196f3;
  --text-title-dark: #212121;
  --text: #757575;
  --full-dark: #000000;
  --btn-fltr-back: #f5f4fa;
  --text-mail-tel: rgba(255, 255, 255, 0.6);
  --btn-hero-back: #188ce8;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-light);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.address-info {
  font-style: normal;
}

.link.current {
  color: var(--main-blue);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--full-dark);
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-light);
}

.web {
  color: var(--main-blue);
}

.page-header {
  background-color: var(--main-light);
  display: flex;
  padding-left: 215px;
  padding-top: 24px;
  padding-right: 215px;
}

.page-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-title-dark);
  display: flex;
}

.list-nav {
  display: flex;
  gap: 50px;
  color: var(--text-title-dark);
}
.list-nav a {
  color: var(--text-title-dark);
}

.list-cont {
  display: flex;
  gap: 50px;
  color: var(--text);
}

.studio-tel,
.studio-mail {
  color: var(--text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.mouse-link:hover,
.mouse-link:focus {
  color: var(--main-blue);
}

.hero {
  background-color: var(--main-dark);
  width: 1600px;
  height: 600px;
}

.hero-title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light);
}

.button-hero {
  background-color: var(--main-blue);
  width: 216px;
  height: 50px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-light);
  margin: 350px 692px;
  cursor: pointer;
  border: none;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--btn-hero-back);
}

.specials {
  margin-top: 94px;
}

.advantage {
  display: flex;
  width: 1170px;
  height: 98px;
  margin-left: 215px;
}

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-title-dark);
}

.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text);
}
.our-work-title,
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-dark);
  margin-top: 94px;
  margin-bottom: 50px;
}

.our-work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  margin-left: 215px;
}

.our-work-item {
  width: 370px;
  height: 294px;
}

.team {
  margin-top: 94px;
}

.our-team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  margin-left: 215px;
  margin-bottom: 94px;
}

.our-team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-dark);
}

.our-team-specialist {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
}

.page-footer {
  background-color: var(--main-dark);
  width: 1600px;
  height: 252px;
  padding-left: 215px;
  padding-top: 60px;
}

.address-info-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-light);
}

.address-info-mail,
.address-info-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-mail-tel);
}

.button-filtr {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: 512px;
  margin-top: 94px;
}

.button-filtr-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-dark);
  background: var(--btn-fltr-back);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-filtr-item.current {
  background-color: var(--main-blue);
  color: var(--main-light);
}

.portfolios {
  margin-top: 34px;
  margin-left: 215px;
  margin-right: 215px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-title-dark);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
